---
layout: default
title: 지그재그 게임 개발기
---

<div class="row content">
    <div id="pagea" class="page col m3 s12">
        <div class="row"><h1 id="blogname" class="center-align"></h1></div>
        <div id="image" class="row"><img class="circle" src="" alt="profile-image"></div>
        <div id="contact" class="row"></div>
        <div id="summary" class="row"></div>
    </div>
    <div id="pageb" class="page col m9 s12">
        <ul id="tabs" class="tabs">
        </ul>
        <div id="hello" class="info col m12 s12">
            <div class="row">
                <div class="col m6 s12 ">
                    <div id="helloText" class="row">	
                    </div>
                </div>
                <div class="col m6 s12">
                    <div id="pics" class="row">
                    </div>
                </div>
            </div>
            <div id="Says" class="row">
            </div>
        </div>
        <div id="skills" class="info col m12 s12"></div>
        <div id="projects" class="info col m12 s12 "></div>
        <div id="experience" class="info col m12 s12"></div>
        <div id="education" class="info col m12 s12"></div>	
        <div id="board" class="info col m12 s12">
            <section class="recent-posts">

                <div class="section-title">
                    <h2><span>Stories</span></h2>
                </div>
            
                <div class="row listrecent">
                    {% for post in paginator.posts %}
                    {% include postbox.html %}
                    {% endfor %}
                </div>
            
            </section>
            <div class="bottompagination">
                <div class="pointerup"><i class="fa fa-caret-up"></i></div>
                <span class="navigation" role="navigation">
                    {% include pagination.html %}
                </span>
            </div>
        </div>		
    </div>
</div>
<div class="progress">
    <div class="indeterminate"></div>
</div>
</body>
<script src="js/index.js"></script>